# Schools with Computers

[Prashant Brahmbhatt](https://www.github.com/hashbanger)

___

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')

In [4]:
sns.set(style = 'darkgrid', palette = 'pastel')

In [6]:
df = pd.read_excel('SchoolComputers.xlsx')
df.head(10)

,State_UT,Year,Primary_Only,Primary_with_U_Primary,Primary_with_U_Primary_Sec_HrSec,U_Primary_Only,U_Primary_With_Sec_HrSec,Primary_with_U_Primary_Sec,U_Primary_With_Sec,Sec_Only,Sec_with_HrSec.,HrSec_Only,All Schools
0,Andaman & Nicobar Islands,2013-14,30.40,73.68,89.74,0.00,100.00,97.92,0.00,0.00,100.00,0.00,53.06
1,Andaman & Nicobar Islands,2014-15,30.94,76.54,92.11,100.00,94.74,100.00,0.00,0.00,100.00,0.00,57.25
2,Andaman & Nicobar Islands,2015-16,28.44,78.57,92.50,0.00,94.74,100.00,0.00,0.00,100.00,0.00,57.00
3,Andhra Pradesh,2013-14,12.73,42.72,86.99,45.45,17.07,68.18,73.23,60.00,33.33,19.32,29.57
4,Andhra Pradesh,2014-15,10.29,44.15,88.46,50.00,62.22,68.38,76.59,70.97,66.67,41.60,28.06
5,Andhra Pradesh,2015-16,11.47,44.81,89.47,50.00,72.41,69.92,77.08,65.22,75.00,61.43,30.59
6,Arunachal Pradesh,2013-14,4.32,45.05,90.63,46.51,98.00,89.11,75.00,0.00,52.17,100.00,24.28
7,Arunachal Pradesh,2014-15,4.06,43.83,95.24,48.78,100.00,89.62,81.58,0.00,62.96,0.00,24.68
8,Arunachal Pradesh,2015-16,4.06,41.20,94.03,50.00,98.11,86.16,84.62,0.00,71.88,0.00,24.36
9,Assam,2013-14,1.08,29.12,64.75,18.29,80.48,44.80,56.01,25.89,36.81,16.93,8.85